body {
	padding: 0px;
	margin: 0px;
}

.grid-container {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: auto;
}

.grid-item {
	border: 2px solid black;
	overflow: hidden;
}

